
@{
    ViewData["Title"] = "Index";
    //Layout = null;
    //Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    Layout = "AdminLayout";
}
<h2>Admin</h2>
<a href="@Url.RouteUrl("signOut")">退出登录</a>

